- name: Install and start Nginx on Ubuntu
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - ./ansible/secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: Install Nginx
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: yes

    - name: Starting Nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true