- name: Install and start runner on instance
  hosts: all
  gather_facts: true
  become: true

  vars_files:
    - ../secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"
    ansible_user: "ubuntu"
    runner_base_path: "/home/ubuntu/actions-runner"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: Install dependencies for runner
      ansible.builtin.apt:
        name:
          - curl
          - jq
          - git
        state: present
        update_cache: yes
      when: ansible_facts['os_family'] == "Debian"

    - name: Create runner directory
      ansible.builtin.file:
        path: "{{ runner_base_path }}"
        state: directory
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0755'

    - name: Download the latest runner package
      ansible.builtin.get_url:
        url: "https://github.com/actions/runner/releases/download/v2.316.0/actions-runner-linux-x64-2.316.0.tar.gz"
        dest: "{{ runner_base_path }}/actions-runner-linux-x64.tar.gz"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: '0644'

    - name: Extract the runner package
      ansible.builtin.unarchive:
        src: "{{ runner_base_path }}/actions-runner-linux-x64.tar.gz"
        dest: "{{ runner_base_path }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        remote_src: true

    - name: Check if runner is already configured
      ansible.builtin.stat:
        path: "{{ runner_base_path }}/.runner"
      register: runner_cfg

    - name: Configure the runner
      ansible.builtin.shell:
        cmd: "./config.sh --url {{ REPO_URL }} --token {{ GITHUB_TOKEN }} --name {{ ansible_hostname }} --unattended --replace"
        chdir: "{{ runner_base_path }}"
      become: true
      become_user: "{{ ansible_user }}"
      when: not runner_cfg.stat.exists

    - name: Install the runner service
      ansible.builtin.shell:
        cmd: "./svc.sh install"
        chdir: "{{ runner_base_path }}"
      args:
        creates: "{{ runner_base_path }}/.service"

    - name: Start the runner service
      ansible.builtin.shell:
        cmd: "./svc.sh start"
        chdir: "{{ runner_base_path }}"