- name: Map EC2 to domain in Route53
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - ../../secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"
    mappings: "{{ domain_mappings | from_json }}"

  tasks:
    - name: Validate Mappings
      ansible.builtin.fail:
        msg: "No domain mappings found."
      when: mappings | length == 0

    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
      
    - name: Create 'A' record for root domain
      amazon.aws.route53:
        state: present
        zone: "{{ item.domain }}"
        zone_id: "{{ HOSTED_ZONE_ID }}"
        record: "{{ item.domain }}"
        type: A
        ttl: 60
        value: "{{ item.ip }}"
        overwrite: yes
        wait: yes
      loop: "{{ mappings }}"
      when: item.domain != ""

    - name: Update 'WWW' CNAME Records
      amazon.aws.route53:
        state: present
        zone: "{{ item.domain }}"
        zone_id: "{{ HOSTED_ZONE_ID }}"
        record: "www.{{ item.domain }}"
        type: CNAME
        ttl: 60
        value: "{{ item.domain }}"
        overwrite: yes
      loop: "{{ mappings }}"
      when: item.domain != ""
