- name: Map EC2 to domain in Route53 
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - ../../secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300
      
    - name: Create 'A' record for root domain
      amazon.aws.route53:
        state: present
        zone: "{{ item.domain }}"
        hosted_zone_id: "{{ HOSTED_ZONE_ID }}"
        record: "{{ record_name }}"
        type: A
        ttl: 60
        value: "{{ item.ip }}"
        overwrite: true
      loop: "{{ dns_instances | from_json }}"
      loop_control:
        label: "{{ item.instance_id }}"
      vars:
        record_name: "{{ item.domain }}"
