- name: Configure Nginx
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - ../../secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: Create working directory
      ansible.builtin.file:
        path: /home/ubuntu/nginx_config_creation_scripts
        state: directory
        mode: '0755'

    - name: Upload nginx scripts to server
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /home/ubuntu/nginx_config_creation_scripts/
        mode: '0755'
      loop:
        - basic_config.sh
    
    - name: Create basic configuration file
      ansible.builtin.shell: 
        cmd: "./basic_config.sh '{{ DOMAIN }}' '{{ CONFIG_FOLDER }}'"
      args:
        chdir: /home/ubuntu/nginx_config_creation_scripts

    - name: Enable the site
      ansible.builtin.file:
        src: "{{ CONFIG_FOLDER }}/{{ DOMAIN }}"
        dest: "{{ ENABLEMENT_FOLDER }}/{{ DOMAIN }}"
        state: link
        force: yes

    - name: Remove default Nginx config
      ansible.builtin.file:
        path: "{{ CONFIG_FOLDER }}/default"
        state: absent

    - name: Reload Nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded
      when: nginx_test.rc == 0