- name: Obtain SSL Certificate using Certbot
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - ../../secrets/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
        timeout: 300

    - name: Install Certbot
      ansible.builtin.apt:
        name:
          - certbot
          - python3-certbot-nginx
        state: present
        update_cache: yes
        
    - name: Get SSL certificate using Certbot
      ansible.builtin.command: >
        certbot --nginx
        --non-interactive
        --agree-tos
        --email {{ item.domain_email }}
        -d {{ item.domain }}
        -d www.{{ item.domain }}
      args:
        creates: "/etc/letsencrypt/live/{{ item.domain }}/fullchain.pem"
      loop: "{{ dns_instances }}"
      loop_control:
        label: "{{ item.instance_id }}"

    - name: Update Nginx config with HTTPS + redirect
      ansible.builtin.copy:
        dest: "/etc/nginx/sites-available/{{ DOMAIN }}"
        content: |
          server {
              listen 80;
              server_name {{ DOMAIN }} www.{{ DOMAIN }};
              return 301 https://$host$request_uri;
          }

          server {
              listen 443 ssl;
              server_name {{ DOMAIN }} www.{{ DOMAIN }};

              ssl_certificate /etc/letsencrypt/live/{{ DOMAIN }}/fullchain.pem;
              ssl_certificate_key /etc/letsencrypt/live/{{ DOMAIN }}/privkey.pem;

              location / {
                  root /var/www/html;
                  index index.html index.htm;
              }
          }
        mode: '0644'

    - name: Reload Nginx
      ansible.builtin.service:
        name: nginx
        state: reloaded