- name: Map EC2 to domain in Route53
  hosts: all
  gather_facts: false
  become: true

  vars_files:
    - nginx/vars/secrets.yml

  vars:
    ansible_connection: "{{ ANSIBLE_CONNECTION }}"
    ansible_aws_ssm_bucket_name: "{{ ANSIBLE_AWS_SSM_BUCKET_NAME }}"
    ansible_aws_ssm_region: "{{ ANSIBLE_AWS_SSM_REGION }}"

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:
      
    - name: Create A record for root domain
      amazon.aws.route53:
        state: present
        zone: "{{ DOMAIN_NAME }}"
        zone_id: "{{ HOSTED_ZONE_ID }}"
        record: "{{ DOMAIN_NAME }}"
        type: A
        ttl: 60
        value: "{{ instance_ip }}"

    - name: Create A record for www subdomain
      amazon.aws.route53:
        state: present
        zone: "{{ DOMAIN_NAME }}"
        zone_id: "{{ HOSTED_ZONE_ID }}"
        record: "www.{{ DOMAIN_NAME }}"
        type: A
        ttl: 60
        value: "{{ instance_ip }}"
