
# Wait for SSM Agent to be available on the Instance
- name: Wait for connection to be available
  hosts: all
  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1
    # When the S3 bucket isn't in the same region as the Instance
    # Explicitly setting the addressing style to 'virtual' may be necessary
    # https://repost.aws/knowledge-center/s3-http-307-response
  tasks:
    - name: Wait for connection
      wait_for_connection:

- name: Install and start Docker on Ubuntu
  hosts: all
  gather_facts: false
  become: true

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  