# Wait for SSM Agent to be available on the Instance
- name: Wait for connection to be available
  hosts: all
  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1
    # When the S3 bucket isn't in the same region as the Instance
    # Explicitly setting the addressing style to 'virtual' may be necessary
    # https://repost.aws/knowledge-center/s3-http-307-response
  tasks:
    - name: Wait for connection
      wait_for_connection:

- name: Install Docker
  hosts: all
  become: true

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  tasks:
    - name: Install prerequisites packages
      ansible.builtin.apt:
        name:
          - ca-certificates
          - curl
          - gnupg
        state: present
        update_cache: true

    - name: Ensure Keyrings path exists
      ansible.builtin.file:
        path: /etc/apt/keyrings
        state: directory
        mode: '0755'

    - name: One way to avoid apt_key once it is removed from your distro
      block:
        - name: Add Docker official GPG key
          ansible.builtin.get_url:
            url: https://download.docker.com/linux/ubuntu/gpg
            dest: /etc/apt/keyrings/docker.gpg

        - name: Add Docker APT repository
          ansible.builtin.apt_repository:
            repo: >
              deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu {{ ansible_distribution_release }} stable
            state: present

    # - name: Add Docker official GPG key
    #   ansible.builtin.get_url:
    #     url: https://download.docker.com/linux/ubuntu/gpg
    #     dest: /etc/apt/keyrings/docker.gpg
    #     mode: '0755'

    # - name: Add Docker APT repository
    #   ansible.builtin.apt_repository:
    #     repo: >
    #       deb [arch=amd64 signed-by=/etc/apt/keyrings/docker.gpg]
    #       https://download.docker.com/linux/ubuntu
    #       {{ ansible_distribution_release }} stable
    #     state: present
    #     filename: docker

    - name: Install Docker Engine packages
      ansible.builtin.apt:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
        update_cache: true

    - name: Ensure Docker service is running and enabled
      ansible.builtin.systemd:
        name: docker
        state: started
        enabled: true

    - name: Ensure docker group exists
      ansible.builtin.group:
        name: docker
        state: present

    - name: Add user to group
      ansible.builtin.user:
        name: "{{ ansible_user }}"
        groups: docker
        append: true