---
- name: Configure Nginx and Map Hostinger Domain
  hosts: all
  gather_facts: false
  become: true
  
  vars_files:
    - nginx/vars/secrets.yml

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  tasks:
    - name: Wait for connection to EC2
      ansible.builtin.wait_for_connection:
        timeout: 300

    # - name: Update Hostinger DNS A record
    #   hostinger.vps.hostinger_dns_record:
    #     token: "{{ HOSTINGER_API_TOKEN }}"
    #     zone: "{{ DOMAIN_NAME }}"
    #     type: "A"
    #     name: "@"
    #     value: "{{ instance_ip }}"
    #     state: present
    #   delegate_to: localhost
    #   become: false

    - name: Create Nginx configuration file
      ansible.builtin.copy:
        dest: "/etc/nginx/sites-available/{{ DOMAIN_NAME }}"
        content: |
          server {
              listen 80;
              server_name {{ DOMAIN_NAME }} www.{{ DOMAIN_NAME }};

              location / {
                  root /var/www/html;
                  index index.html index.htm;
                  try_files $uri $uri/ =404;
              }
          }
        mode: '0644'

    - name: Enable the site by creating a symbolic link
      ansible.builtin.file:
        src: "/etc/nginx/sites-available/{{ DOMAIN_NAME }}"
        dest: "/etc/nginx/sites-enabled/{{ DOMAIN_NAME }}"
        state: link

    - name: Remove default Nginx config
      ansible.builtin.file:
        path: /etc/nginx/sites-enabled/default
        state: absent

    - name: Test and Reload Nginx
      ansible.builtin.shell: nginx -t && systemctl reload nginx