# This is a dynamic inventory configuration for AWS
plugin: amazon.aws.aws_ec2

# This is the "magic" part for your orchestrator:
# It groups instances based on the 'Services' tag we set in Terraform
keyed_groups:
  - key: tags.Services
    separator: "_"
    prefix: tag

# We filter the results to only include running instances
filters:
  instance-state-name: [running]

# This ensures Ansible uses the Public IP to connect
hostnames:
  - public-ip-address
  - tag:Name

# Essential for connecting to Ubuntu/Amazon Linux instances
compose:
  ansible_host: public_ip_address