# Wait for SSM Agent to be available on the Instance
- name: Wait for connection to be available
  hosts: all
  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1
  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:

- name: Install minikube
  hosts: all
  gather_facts: false
  become: true # Keep global 'become: true' for the service tasks later
  remote_user: ubuntu

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1
    runner_base_path: "/opt/actions-runner"

  tasks:
    - name: Install kubectl
      ansible.builtin.apt:
        name: kubectl
        state: present
        update_cache: true
