- name: Install and start Nginx on Ubuntu
  hosts: all
  gather_facts: false
  become: true

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_region: ap-south-1
    ansible_user: ubuntu

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Starting Nginx service
      service:
        name: nginx
        state: started
        enabled: yes