- name: Install and start Nginx on Ubuntu
  hosts: all
  gather_facts: false
  become: true
  vars_files:
    - nginx/vars/secrets.yml

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:

    - name: Install nginx
      ansible.builtin.apt:
        name: nginx
        state: present
        update_cache: true

    - name: Starting Nginx service
      ansible.builtin.service:
        name: nginx
        state: started
        enabled: true