- name: Install and start Nginx on Ubuntu
  hosts: all
  become: true

  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes
        cache_valid_time: 3600

    - name: Install nginx
      apt:
        name: nginx
        state: present

    - name: Starting Nginx service
      service:
        name: nginx
        state: started
        enabled: yes