- name: Configure Nginx
  hosts: all
  gather_facts: false
  become: true
  vars_files:
    - nginx/vars/secrets.yml

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:

    - name: Create working directory
      ansible.builtin.file:
        path: /home/ubuntu/nginx_config_creation_scripts
        state: directory
        mode: '0755'

    - name: Upload nginx scripts to server
      ansible.builtin.copy:
        src: "{{ item }}"
        dest: /home/ubuntu/nginx_config_creation_scripts/
        mode: '0755'
      loop:
        - nginx/main.sh
        - nginx/basic_config.sh
        - nginx/project_config.sh
    
    - name: Configre Nginx for Repositories
      ansible.builtin.shell: 
        cmd: "./main.sh '{{ DOMAIN }}' '{{ CONFIG_FILE }}' '{{ COMMENTS_ARRAY }}' '{{ LOCATIONS_ARRAY }}' '{{ REWRITES_ARRAY }}' '{{ IP }}' '{{ PORTS_ARRAY }}' '{{ PROXY_HEADERS }}'"
      args:
        chdir: /home/ubuntu/nginx_config_creation_scripts