- name: Install and start Nginx on Ubuntu
  hosts: all
  gather_facts: false
  become: true
  vars_files:
    - vars/secrets.yml

  vars:
    ansible_connection: aws_ssm
    ansible_aws_ssm_bucket_name: ansible-ssm-artifacts-ashish-123
    ansible_aws_ssm_region: ap-south-1

  tasks:
    - name: Wait for connection
      ansible.builtin.wait_for_connection:

    # - name: Install nginx
    #   ansible.builtin.apt:
    #     name: nginx
    #     state: present
    #     update_cache: true

    # - name: Starting Nginx service
    #   ansible.builtin.service:
    #     name: nginx
    #     state: started
    #     enabled: true

    - name: Verify Variable Format and Passing
      ansible.builtin.shell: |
        echo "Internal Ansible Type: {{ Test_Array_Value | type_debug }}"
        echo "---"
        echo "Argument 1 (Variable): {{ Test_Variable_Value }}"
        echo "Argument 2 (Array Index 0): {{ Test_Array_Value[0] }}"
        echo "Argument 3 (Array Index 1): {{ Test_Array_Value[1] }}"
        echo "Argument 4 (Array Index 2): {{ Test_Array_Value[2] }}"
      register: debug_check

    - name: Show Verification Results
      ansible.builtin.debug:
        var: debug_check.stdout_lines

    # - name: Upload test script to server
    #   ansible.builtin.copy:
    #     src: "{{ item }}"
    #     dest: /home/ubuntu/
    #     mode: '0755'
    #   loop:
    #     - ./main.sh
    #     - ./basic_config.sh
    #     - ./project_config.sh
    
    # - name: Configre Nginx for Repositories
    #   ansible.builtin.shell: 
    #     cmd: "./main.sh '{{ Test_Variable_Value }}' {{ Test_Array_Value | map('quote') | join(' ') }}"
    #   args:
    #     chdir: /home/ubuntu/