name: Infrastructure Destroy
on:
  repository_dispatch:
    types: [event-destroy-infra]

jobs:

  # ----------------------------------------------------
  #             RESOURCE DESTROY
  # ----------------------------------------------------

  resource_destroy:
    name: Destroying acquired resources
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform

    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION_NAME }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.2

      - name: Initialize Terraform
        run: terraform init

      - name: Terraform Action Destroy
        run: terraform destroy -auto-approve