name: Instance provisioning and Configuring

on:
  push:
    branches: ["main"]

# Define variables/flags at the workflow level
env:
  ENABLE_MAP_DNS: "true" # Set to "false" to skip map_dns and run install_nginx immediately

jobs:
  resource_provision:
    name: Provisioning required resources
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: terraform
    outputs:
      instance_id: ${{ steps.tf_outputs.outputs.instance_id }}
      instance_ip: ${{ steps.tf_outputs.outputs.elastic_ip }}

    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.14.2

      - name: Initialize Terraform
        run: terraform init

      - name: Validate Terraform
        run: terraform validate

      - name: Appplying Terraform
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve

      - name: Export Terraform outputs
        id: tf_outputs
        run: |
          echo "instance_id=$(terraform output -raw instance_id)" >> $GITHUB_OUTPUT
          echo "instance_ip=$(terraform output -raw elastic_ip)" >> $GITHUB_OUTPUT
  
  map_dns:
    name: Mapping DNS
    needs: resource_provision
    if: env.ENABLE_MAP_DNS == 'true'
    runs-on: ubuntu-latest
    # Concurrency ensures install_nginx waits if this job is running
    concurrency:
      group: nginx_sequence
      cancel-in-progress: false
    defaults:
      run:
        working-directory: ansible

    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          check-latest: true

      - name: Install Ansible + Boto
        run: pip install ansible boto3 botocore

      - name: Create Vault Password File
        run: |
          echo "${{ secrets.VAULT_PASSWORD }}" > .vault_pass
          chmod 600 .vault_pass

      - name: Install NGINX Server
        run: |
          ansible-playbook \
            -i "${{ needs.resource_provision.outputs.instance_id }}," \
            nginx.yaml
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"

      - name: Clean Password File
        if: always()
        run: rm -f .vault_pass
  
  install_nginx:
    name: Installing NGINX
    needs: resource_provision
    runs-on: ubuntu-latest
    # Use the same concurrency group as map_dns
    concurrency:
      group: nginx_sequence
      cancel-in-progress: false
    defaults:
      run:
        working-directory: ansible
    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"
          check-latest: true

      - name: Install Ansible + Boto
        run: pip install ansible boto3 botocore

      - name: Create Vault Password File
        run: |
          echo "${{ secrets.VAULT_PASSWORD }}" > .vault_pass
          chmod 600 .vault_pass

      - name: Install NGINX Server
        run: |
          ansible-playbook \
            -i "${{ needs.resource_provision.outputs.instance_id }}," \
            nginx.yaml
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"

      - name: Clean Password File
        if: always()
        run: rm -f .vault_pass
  
  mapdomain:
    name: Map Domain
    # If map_dns is skipped, we only wait for install_nginx
    # If map_dns is active, we wait for both
    needs: [resource_provision, install_nginx]
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ansible
    steps:
      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Ansible + Boto
        run: pip install ansible boto3 botocore

      - name: Create Vault Password File
        run: |
          echo "${{ secrets.VAULT_PASSWORD }}" > .vault_pass
          chmod 600 .vault_pass

      - name: Run Map Domain Playbook
        run: |
          ansible-playbook \
            -i "${{ needs.resource_provision.outputs.instance_id }}," \
            domainmap.yaml \
            --vault-password-file .vault_pass
        env:
          ANSIBLE_HOST_KEY_CHECKING: "False"

      - name: Clean Password File
        if: always()
        run: rm -f .vault_pass