name: Terraform + Ansible CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  ansible:
    name: Ansible
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ansible + AWS deps
        run: |
          pip install ansible boto3 botocore

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Run Ansible via SSM
        working-directory: ansible
        run: |
          ansible-playbook \
            -i i-05ced86c7709f979e \
            nginx.yaml






















#   terraform:
#     name: Terraform
#     runs-on: ubuntu-latest

#     defaults:
#       run:
#         working-directory: terraform

#     outputs:
#       instance_id: ${{ steps.tf_outputs.outputs.instance_id }}

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v3
#         with:
#           terraform_version: 1.6.6

#       - name: Configure AWS credentials
#         uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

#       - name: Terraform Init
#         run: terraform init

#       - name: Terraform Validate
#         run: terraform validate

#       - name: Terraform Apply
#         if: github.ref == 'refs/heads/main'
#         run: terraform apply -auto-approve

#       - name: Export Terraform outputs
#         id: tf_outputs
#         run: |
#           echo "instance_id=$(terraform output -raw instance_id)" >> $GITHUB_OUTPUT

#   ansible:
#     name: Ansible
#     runs-on: ubuntu-latest
#     needs: terraform

#     steps:
#       - name: Checkout repo
#         uses: actions/checkout@v4

#       - name: Setup Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.11"

#       - name: Install Ansible + AWS deps
#         run: |
#           pip install ansible boto3 botocore

#       - uses: aws-actions/configure-aws-credentials@v4
#         with:
#           aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
#           aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
#           aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

#       - name: Run Ansible via SSM
#         working-directory: ansible
#         run: |
#           ansible-playbook \
#             -i "${{ needs.terraform.outputs.instance_id }}," \
#             nginx.yaml
            
#         #     - name: Run Ansible Playbook 
#         # working-directory: ansible
#         # run: |
#         #   ansible-playbook \
#         #     -i "${{ needs.terraform.outputs.instance_id }}," \
#         #     nginx.yaml