name: Terraform + Ansible CI

on:
  push:
    branches: ["main"]
  pull_request:

jobs:
  terraform:
    name: Terraform
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: terraform

    outputs:
      public_ip: ${{ steps.tf_outputs.outputs.public_ip }}

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.6.6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}

      - name: Terraform Init
        run: terraform init

      - name: Terraform Validate
        run: terraform validate

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve

      - name: Export Terraform outputs
        id: tf_outputs
        run: |
          echo "public_ip=$(terraform output -raw public_IP)" >> $GITHUB_OUTPUT

  ansible:
    name: Ansible
    runs-on: ubuntu-latest
    needs: terraform

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Ansible
        run: |
          pip install ansible

      - name: Run Ansible Playbook
        working-directory: ansible
        run: |
          ansible-playbook \
            -i "${{ needs.terraform.outputs.instance_id }}," \
            nginx.yaml
