name: Infrastructure Provisioning
on:
  repository_dispatch:
    types: [provision-infra-event]

jobs:
  terraform-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Create Variables File
        run: |
          # Professional Tip: Convert the client_payload to a standard Terraform JSON var file
          # This saves the entire UI manifest into a variable named 'ui_manifest'
          echo '${{ toJson(github.event.client_payload.manifest) }}' > ui_data.json
          echo "{\"ui_manifest\": $(cat ui_data.json)}" > terraform.tfvars.json

      - name: Terraform Init
        run: terraform init

      - name: Terraform Plan
        run: terraform plan

      - name: Terraform Apply
        run: terraform apply -auto-approve